{% extends 'base.html.twig' %}

{% block title %}Mon agenda{% endblock %}

{% block body %}


  <input type="hidden" value="{{ user }}" id="userId">
  <div id='calendar' class="mt-5 mb-5"></div>

  <!-- Modal for adding rdv -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <div class="row mt-3 ml-3">
          <h5 class="modal-title" id="exampleModalLabel">Ajout d'un RDV</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="card-subtitle mb-2 text-muted" id="cardSubtitle"></h6>

          <div class="form-group">
            <label for="selectPresta">Prestation</label>
            <select value="" id="selectPresta" class="form-control">
            </select>
          </div>   

          <div class="form-group">
            <label for="selectCollaborateur">Collaborateurs disponible</label>
            <select value="" id="selectCollaborateur" class="form-control">
            </select>
          </div>  

          <div class="form-group">
            <label for="start">Début</label>
            <input type="datetime-local" value="" id="start" name="start" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="end">Fin</label>
            <input type="datetime-local" value="" id="end" name="end" class="form-control">
          </div>   

          <div class="d-flex justify-content-between align-items-center">

            <div class="form-group">
              <label for="firstname">Prénom</label>
              <input type="text" value="" id="firstname" name="firstname" class="form-control">
            </div>   
            
            <div class="form-group">
              <label for="lastname">Nom</label>
              <input type="text" value="" id="lastname" name="lastname" class="form-control">
            </div> 
          
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" value="" id="email" name="email" class="form-control">
          </div>    

          <div class="form-group">
            <label for="tel">Tél</label>
            <input type="tel" value="" id="tel" name="tel" class="form-control">
          </div> 
          
          <div class="form-group">
            <label for="">Note</label>
            <textarea id="editor" class="form-control"></textarea>
          </div> 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" id="saveRdv">Ajouter le RDV</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for edit rdv -->
  <div class="modal fade" id="editRdvModal" tabindex="-1" role="dialog" aria-labelledby="editRdvModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modification d'un RDV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="card-subtitle mb-2 text-muted" id="cardSubtitleEdit"></h6>

            <div class="form-group">
              <label for="selectPrestaEdit">Prestation</label>
              <select value="" id="selectPrestaEdit" class="form-control" disabled="disabled">
              </select>
            </div>   

            <div class="d-flex justify-content-between align-items-center">

            <div class="form-group">
              <label for="firstnameEdit">Prénom</label>
              <input type="text" value="" id="firstnameEdit" name="firstnameEdit" class="form-control" disabled="disabled">
            </div>   
            
            <div class="form-group">
              <label for="lastnameEdit">Nom</label>
              <input type="text" value="" id="lastnameEdit" name="lastnameEdit" class="form-control" disabled="disabled">
            </div>   

          </div>

          <div class="form-group">
            <label for="emailEdit">E-mail</label>
            <input type="email" value="" id="emailEdit" name="emailEdit" class="form-control" disabled="disabled">
          </div>    

          <div class="form-group">
            <label for="telEdit">Tél</label>
            <input type="tel" value="" id="telEdit" name="telEdit" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="">Note</label>
            <textarea id="editor2" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="startEdit">Début</label>
            <input type="datetime-local" value="" id="startEdit" name="startEdit" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="endEdit">Fin</label>
            <input type="datetime-local" value="" id="endEdit" name="endEdit" class="form-control">
          </div>  

          <input type="hidden" value="" id="rdvId"> 

        </div>
        <div class="modal-footer">     
          <button type="button" class="btn btn-danger" id="deleteRdv">Supprimer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-warning" id="updateRdv">Mettre à jour</button>
        </div>
      </div>
    </div>
  </div>
      
{% endblock %}
{% block javascripts %}

    <script src="{{asset('js/agenda.js')}}"></script>

{% endblock %}

{% block stylesheets %}
  <style>
    @media(max-width:700px){
      .contentRight{
        padding: 15px 10px 15px 10px !important;
      }
      button.fc-today-button.fc-button.fc-button-primary{
        display: none !important;
      }
      .modal{
        margin-top: 40px;
        padding-bottom: 40px;
      }
    }
  </style>
{% endblock %}