{% extends 'base.html.twig' %}

{% block title %}Mon agenda{% endblock %}

{% block body %}


  <input type="hidden" value="{{ user }}" id="userId">

  <div class="layout-px-spacing">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <div class="calendar-upper-section">
                        <div class="row">
                            <div class="col-md-8 col-12">
                                <div class="labels" id="labelCollaborateur">
                                    {# <p class="label label-primary">Work</p>
                                    <p class="label label-warning">Travel</p>
                                    <p class="label label-success">Personal</p>
                                    <p class="label label-danger">Important</p> #}
                                </div>
                            </div>                                                
                            {# <div class="col-md-4 col-12">
                                <form action="javascript:void(0);" class="form-horizontal mt-md-0 mt-3 text-md-right text-center">
                                    <button id="myBtn" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar mr-2"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> Add Event</button>
                                </form>
                            </div> #}
                        </div>
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

  <!-- Modal for adding rdv -->
  <div class="modal animated fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalHeight modalHeight1" role="document">
      <div class="modal-content">
        <div class="modal-header">     
          <h5 class="modal-title" id="exampleModalLabel">Ajout d'un RDV</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="overflow: visible;">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="card-subtitle mb-2 text-muted" id="cardSubtitle"></h6>

          <div class="form-group">
            <label for="selectPresta">Prestation</label>
            <select value="" id="selectPresta" class="form-control">
            </select>
          </div>   

          <div class="form-group">
            <label for="selectCollaborateur">Collaborateurs disponible</label>
            <select value="" id="selectCollaborateur" class="form-control">
            </select>
          </div>  

          <div class="form-group">
            <label for="start">Début</label>
            <input type="datetime-local" value="" id="start" name="start" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="end">Fin</label>
            <input type="datetime-local" value="" id="end" name="end" class="form-control">
          </div>   

          <div class="d-flex justify-content-between align-items-center">

            <div class="form-group">
              <label for="firstname">Prénom</label>
              <input type="text" value="" id="firstname" name="firstname" class="form-control">
            </div>   
            
            <div class="form-group">
              <label for="lastname">Nom</label>
              <input type="text" value="" id="lastname" name="lastname" class="form-control">
            </div> 
          
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" value="" id="email" name="email" class="form-control">
          </div>    

          <div class="form-group">
            <label for="tel">Tél</label>
            <input type="tel" value="" id="tel" name="tel" class="form-control">
          </div> 
          
          <div class="form-group">
            <label for="">Note</label>
            <textarea id="editor" class="form-control"></textarea>
          </div> 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" id="saveRdv">Ajouter le RDV</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for edit rdv -->
  <div class="modal animated fade" id="editRdvModal" tabindex="-1" role="dialog" aria-labelledby="editRdvModal" aria-hidden="true">
    <div class="modal-dialog modalHeight modalHeight2" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modification d'un RDV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="overflow: visible;">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="card-subtitle mb-2 text-muted" id="cardSubtitleEdit"></h6>

            <div class="form-group">
              <label for="selectPrestaEdit">Prestation</label>
              <select value="" id="selectPrestaEdit" class="form-control" disabled="disabled">
              </select>
            </div>   

            <div class="d-flex justify-content-between align-items-center">

            <div class="form-group">
              <label for="firstnameEdit">Prénom</label>
              <input type="text" value="" id="firstnameEdit" name="firstnameEdit" class="form-control" disabled="disabled">
            </div>   
            
            <div class="form-group">
              <label for="lastnameEdit">Nom</label>
              <input type="text" value="" id="lastnameEdit" name="lastnameEdit" class="form-control" disabled="disabled">
            </div>   

          </div>

          <div class="form-group">
            <label for="emailEdit">E-mail</label>
            <input type="email" value="" id="emailEdit" name="emailEdit" class="form-control" disabled="disabled">
          </div>    

          <div class="form-group">
            <label for="telEdit">Tél</label>
            <input type="tel" value="" id="telEdit" name="telEdit" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="">Note</label>
            <textarea id="editor2" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="startEdit">Début</label>
            <input type="datetime-local" value="" id="startEdit" name="startEdit" class="form-control" disabled="disabled">
          </div>  

          <div class="form-group">
            <label for="endEdit">Fin</label>
            <input type="datetime-local" value="" id="endEdit" name="endEdit" class="form-control">
          </div>  

          <input type="hidden" value="" id="rdvId"> 

        </div>
        <div class="modal-footer">     
          <button type="button" class="btn btn-danger" id="deleteRdv">Supprimer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-warning" id="updateRdv">Mettre à jour</button>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
      
{% endblock %}
{% block javascripts %}

    <script>
      document.getElementById('titlePage').innerHTML = "Mon agenda";
      const mailScroll = new PerfectScrollbar('.modalHeight1', {
        suppressScrollX : true
      });
      const mailScroll2 = new PerfectScrollbar('.modalHeight2', {
        suppressScrollX : true
      });
    
    </script>

    <script src="{{ asset(app.user.theme ~'/plugins/fullcalendar/locale-all.js') }}"></script>

    <script src="{{asset('js/agenda.js')}}"></script>

{% endblock %}

{% block stylesheets %}
  {% if app.user.theme == "dark" %}
  
    <style>
      .daterangepicker.dropdown-menu {
          z-index: 1059;
      }
      .fc-row.fc-week.fc-widget-content{
        margin-right: 0 !important;
      }
      .fc-button-group > button {
        float: left !important;
        margin: 0 0 0 4px !important;
        border-radius: 6px !important;
      }

      /* BORDER COLOR */
      tbody > *{
        border-color: #3b3f5c !important;
      }
      .fc-scrollgrid {
        border-color: #3b3f5c !important;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td {
        border-color: #3b3f5c !important;
      }

      .fc .fc-scrollgrid-section-sticky>*{
        background: transparent !important;
        border-color: #3b3f5c !important;
      }

      /* BACKGROUND COLOR */
      tr.fc-list-day.fc-day.fc-day-tue.fc-day-past > th {
        background: transparent !important;
      }
      .fc-list-day-cushion.fc-cell-shaded{
        background: transparent !important;
      }
      .fc .fc-list-sticky .fc-list-day>*{
        background: transparent !important;
        position:  relative!important;
      }
      tr.fc-list-event.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-event-future:hover{
        cursor: pointer !important;
      }
      td.fc-list-event-title{
        border-color: #3b3f5c !important;
      }
      td.fc-list-event-graphic{
        border-color: #3b3f5c !important;
      }
      td.fc-list-event-time{
        border-color: #3b3f5c !important;
      }

      /* HEIGHT AND SCROLL */
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller{
        height: 400px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
      }
      .fc-list{
        height: 400px !important;
        border-color: #3b3f5c !important;
      }
      .fc-list > .fc-scroller{
        height: 400px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller::-webkit-scrollbar, .fc-list > .fc-scroller::-webkit-scrollbar{
        background: transparent !important;
        width: 4px;
        transition: 0.2 ease-in-out;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller::-webkit-scrollbar-thumb, .fc-list > .fc-scroller::-webkit-scrollbar-thumb{
        background: #888ea888 !important;
        border-radius: 2px !important;
      }

      .fc-day-today { 
        background: transparent !important; 
      }

      .fc-theme-standard td, .fc-theme-standard th{
        border-color: #3b3f5c !important;
      }

      .fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link{
        box-shadow: 0 0 0 0 transparent !important;
      }
      .fc-button-primary{
        background: transparent !important;
        border: none !important;
      }
      .fc-button-primary:hover{
        background: #888ea888 !important;
      }

      .fc-button-active{
        background: rgb(169, 120, 28) !important;
        box-shadow: none !important;
      }
      .fc-button-active:hover{
        background: rgb(169, 120, 28) !important;
        box-shadow: none !important;
      }


    </style>


{% endif %}



{% if app.user.theme == "light" %}
  

    <style>
      .daterangepicker.dropdown-menu {
          z-index: 1059;
      }
      .fc-row.fc-week.fc-widget-content{
        margin-right: 0 !important;
      }
      .fc-button-group > button {
        float: left !important;
        margin: 0 0 0 4px !important;
        border-radius: 6px !important;
        color: grey;
      }

      .fc .fc-button-group > *{
        color: grey;
      }
      button.fc-today-button{
        color: grey !important;
      }
      button.fc-today-button:focus { 
        background: transparent !important; 
        color: rgb(169, 120, 28) !important;
        box-shadow: none !important;
      }

      /* BORDER COLOR */
      tbody > *{
        border-color: #e0e6ed !important;
      }
      .fc-scrollgrid {
        border-color: #e0e6ed !important;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td {
        border-color: #e0e6ed !important;
      }

      .fc .fc-scrollgrid-section-sticky>*{
        background: transparent !important;
        border-color: #e0e6ed !important;
      }

      /* BACKGROUND COLOR */
      tr.fc-list-day.fc-day.fc-day-tue.fc-day-past > th {
        background: transparent !important;
      }
      .fc-list-day-cushion.fc-cell-shaded{
        background: transparent !important;
      }
      .fc .fc-list-sticky .fc-list-day>*{
        background: transparent !important;
        position:  relative!important;
      }
      tr.fc-list-event.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-event-future:hover{
        cursor: pointer !important;
      }
      td.fc-list-event-title{
        border-color: #e0e6ed!important;
      }
      td.fc-list-event-graphic{
        border-color: #e0e6ed!important;
      }
      td.fc-list-event-time{
        border-color: #e0e6ed !important;
      }

      /* HEIGHT AND SCROLL */
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller{
        height: 400px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
      }
      .fc-list{
        height: 400px !important;
        border-color: #e0e6ed !important;
      }
      .fc-list > .fc-scroller{
        height: 400px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller::-webkit-scrollbar, .fc-list > .fc-scroller::-webkit-scrollbar{
        background: transparent !important;
        width: 4px;
        transition: 0.2 ease-in-out;
      }
      tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td > .fc-scroller-harness > .fc-scroller::-webkit-scrollbar-thumb, .fc-list > .fc-scroller::-webkit-scrollbar-thumb{
        background: #888ea888 !important;
        border-radius: 2px !important;
      }

      .fc-day-today { 
        background: transparent !important; 
      }

      .fc-theme-standard td, .fc-theme-standard th{
        border-color: #e0e6ed !important;
      }

      .fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link{
        box-shadow: 0 0 0 0 transparent !important;
      }
      .fc-button-primary{
        background: transparent !important;
        border: none !important;
      }
      .fc-button-primary:hover{
        background: #888ea888 !important;
      }

      .fc-button-active{
        background: rgb(169, 120, 28) !important;
        box-shadow: none !important;
      }
      .fc-button-active:hover{
        background: rgb(169, 120, 28) !important;
        box-shadow: none !important;
      }


    </style>


  {% endif %}

{% endblock %}