{% extends 'base.html.twig' %}

{% block title %}Mon interface
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center" id="interface"></div>
    </div>

    <input type="hidden" value="{{userId}}" id="userId">
{% endblock %}


{% block javascripts %}
	<script src="{{asset('js/interface.js')}}"></script>
{% endblock javascripts %}
