{% extends 'base.html.twig' %}

{% block title %}Mes collaborateurs
{% endblock %}

{% block body %}


    <div class="container mt-5 mb-5">
    
        <div class="row justify-content-center align-items-center">

                {% for c in collaborateur %}
                    <div class="card shadow arrondi col-12 col-sm-6 col-md-4 col-lg-3 bg-white mx-2 my-2" style="height: 250px;">
                        <i class="fas fa-user-circle card-user-top mt-2" style="color:{{c.employeColor}};"></i>
                        <div class="card-body card-center">
                        <h5 class="card-title text-center">{{ c.companyName }}</h5>
                        <a href="{{ path('editEmploye', { 'id': c.id }) }}" class="btn btn-primary" style="background:{{c.employeColor}};">Voir la fiche</a>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
          
{% endblock %}

    